.mainContainer{
    margin-top: 10%;
}
.mainContainer h1{
    font-size: 50px;
    margin-bottom: .5%;
}
.mainContainer .cursivaTxt{
    margin-top: 0%;
    font-size: 13px;
}
.ubiContainer{
    width: 100%;
    margin-top: 5%;
}
.presets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    width: 25%;
    margin: auto;
    /* background-color: aqua; */
}
