.searcher{
    width: 100%;
    padding-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float:left;
    height: 100%;
}
.searchIcon{
    width: 15%;
    background-color: white;
    border-style: none;
    border-radius: 5px 0px 0px 5px;
}

form {
    display: flex;
    flex-direction: row;
    padding: 0%;
}
input{
    padding: 0%;
    border-width: 0;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    color: black;
}